html, body {
  margin: auto;
  padding: auto;
  text-align: center;
  background-color: hsl(229, 6%, 98%);
  font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 0.9em;
}

.busqueda {
  width: 100%;

}

.main-title {
  color: hsl(229, 6%, 25%);
  padding: 25px;
}

.cuador-busqueda {
  border: 2px solid hsl(229, 6%, 65%);
  background-color: hsl(229, 6%, 95%);
  border-radius: 5px;
  width: 80%;
  height: 25px;
}

.boton-busqueda {
  border: 2px solid hsl(229, 6%, 65%);
  background-color: hsl(229, 6%, 95%);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width:550px) {
  .cuador-busqueda {
    width: 60%;
  }

  .boton-busqueda {
    width: 35%;
  }
}